@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Plus+Jakarta+Sans:wght@400;500;800&display=swap');
.sidebar{

    width: 270px;
    min-height: 100vh;

    background:
        #1B5E20;

    padding: 32px 16px;

    display: flex;
    flex-direction: column;
}

.sidebar-nav{

    display: flex;
    flex-direction: column;

    gap: 12px;
    margin-bottom: 24px;
}

.sidebar-item{

    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 12px;

    border-radius: 8px;

    color:
        rgba(236,255,228,.70);

    font-family:
        'Manrope',
        sans-serif;

    font-size:
        16px;
    font-weight:
        700;

    transition:
        all .25s ease;
}

.sidebar-item:hover{

    background:
        rgba(255,255,255,.05);

    color:
        #ECFFE4;
}

.sidebar-item.active{

    position: relative;

    background:
        rgba(255,255,255,0.10);

    backdrop-filter:
        blur(4px);

    color:
        #ECFFE4;

    overflow: hidden;
}

.sidebar-item.active::before{

    content: '';

    position: absolute;

    right: 0;
    top: 8px;

    width: 3px;
    height: 32px;

    border-radius: 999px;

    background:
        #ACF4A4;
}

.sidebar-logo{

    width: 224px;

    padding-bottom: 40px;

    color:
        #ECFFE4;
}

.sidebar-logo h1{

    color:
        #ECFFE4 !important;
    font-size:
        18px;

    font-weight:
        800;

    line-height:
        18px;

    letter-spacing:
        -0.9px;

    width:
        125px;

    height:
        38px;

    margin-bottom:
        6px;
}

.sidebar-logo span{

    color:
        #ECFFE4;

    font-size:
        12px;

    font-weight:
        400;
}

.sidebar-support,
.logout-btn{

    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;

    gap: 12px;

    padding: 12px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;

    transition:
        all .25s ease;
}

.sidebar-support{

    background:
        #A0F399;

    color:
        #217128;
}

.logout-btn{

    color:
        rgba(236,255,228,.70);
}

.sidebar-support:hover,
.logout-btn:hover{

    filter:
        brightness(.95);
}

.sidebar-footer{

    margin-top: auto;

    display: flex;
    flex-direction: column;

    gap: 12px;
}