<!DOCTYPE html>
<html
lang="es"
xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title
        th:text="${title ?: 'SIGA'}">
        SIGA
    </title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet"
          th:href="@{/css/output.css}">

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org">
    </script>

    <script src="https://unpkg.com/lucide@latest"></script>

</head>

<body>

<div class="flex min-h-screen bg-page-bg max-[900px]:flex-col">

    <!-- SIDEBAR -->
    <aside
      th:replace="
      ~{layouts/sidebar :: sidebar(
        activePage='dashboard',
        bottomUrl='/soporte',
        bottomText='Soporte Técnico'
      )}">
    </aside>

    <!-- CONTENIDO -->
    <main class="flex-1 min-w-0 flex flex-col">

        <!-- NAVBAR -->
        <header
          th:replace="
          ~{layouts/navbar :: navbar}">
        </header>

        <!-- CONTENIDO DINÁMICO -->
        <section
          class="flex-1 p-[28px_32px_32px] max-[900px]:p-5">

            <th:block
              th:replace="${content}">
            </th:block>

        </section>

    </main>

</div>

<script>
    lucide.createIcons();
</script>

</body>
</html>
